
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199px) {

  .main {

    &__head-list {
      padding-top: 156px;
    }

    &__item {

      font-size: 60px;
    }

  }

  .decision {

    &__item {
      font-size: 24px;
    }
  }
}

@media (max-width: 1080px) {

  .main {

    min-height: 555px;


    &__head-list {

      padding-top: 115px;
    }
  }
}

//Large devices (desktops, 992px and up)

@media (max-width: 991px) {

  .main {

    min-height: 481px;


    &__head-list {

      padding-top: 115px;
    }

    &__item {
      font-size: 46px;
    }

    &__img {


    }
  }


  .decision {

    &__item {
      font-size: 23px;
    }
  }

  .header {
    min-height: 80px;
    height: 80px;

    &__left {
      display: none;
    }

    &__mobile{
      display: block;
    }
    &__right {
      display: none;
    }
  }



}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

  .decision {
    display: none;
  }

  .main {
    min-height: 335px;
    padding-top: 0;
    padding-bottom: 50px;
    background-image: none;

    &__phrase {

      text-align: center;
      margin: auto;
    }

    &__head-list {
      padding-top: 0;
      text-align: center;
    }
  }

  .web {

    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      font-size: 49px;
    }

    &__btn {
      margin-bottom: 0;
      margin-top: 30px;
    }

    &__right {
      display: none;
    }
  }

  .contact-form {
    width: 68%;
    margin: auto;
  }

  .marketing{

    &__list {

      width: 100%;
    }

    &__img {

      display: none;
    }

    &__title {
      padding-top: 0;
      text-align: center;
    }
    
    &__text {
      text-align: center;
    }

    &__line {
      left: 15px;
    }

    &__num {
      left: 6px;
    }
  }

  .media-prod {

    &__title {

      font-size: 49px;
      padding-bottom: 25px;
      padding-top: 50px;
    }

    &__text {

      font-size: 26px;
    }

    &__link {
      margin: auto;
      margin-bottom: 15px;
      float: none;
    }

    &_btn {
      margin-top: 25px;
    }
  }

  .accordion {

    &__label{
      font-size: 22px;
    }

  }
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {

  .contacts {

    &__title {
      font-size: 14px;
    }
    &__text {

      font-size: 12px;
    }

    &__link {

      font-size: 12px;
    }

  }

  .decision {

    &__img, &__line {

      display: none;
    }
  }

  .marketing, .media-prod, .web{

    &__title {
      font-size: 40px;
    }

    &__text {
      font-size: 14px;
    }


  }

  .web {

    &__btn {
      font-size: 12px;
    }
  }

  .media-prod {

    &__title {
      padding-bottom: 25px;
    }
    &__text {
      font-size: 14px;
    }

    &__link, &__btn{
      font-size: 12px;
    }

    &__link {
      min-width: 200px;
    }
  }

}

