
body {
  width: 100%;
  background-color: #eef2f5;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.btn {
  border: none;

  &:focus, &:active {
    outline: 0 !important;
  }
}

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  background-color: transparent;
}

.pushy {



  .pushy-content {

    div {
      display: block;
      color: #b3b3b1;
      padding: 15px 30px;
      text-decoration: none;

      a {
        padding: 0;

        padding-right: 5px;

        display: inline;


      }
    }
  }
}

/*---------------------MODAL---------------------*/
.modal-form {
  
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  z-index: 2000;

  background-color: #003967;
  color: #000;

  &__contentWrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__exit {

    display: block;
    position: absolute;
    top: 5px;
    right: 18px;
    font-size: 40px;
    transition: 0.3s color ease;

    &:hover, &:focus{
      color: #4440FD;
    }
   
  }
}

.decision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;

  &__img {

  }

  &__list {

  }

  &__item {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__line {
    margin: auto;
    margin-bottom: 14px;
    margin-top: 10px;
    border: 0.5px solid #fff;
    width: 58%;
  }
}

.contact-form {
  
  display: flex;
  flex-direction: column;
  
  .form-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:first-child{
      margin-bottom: 40px;
    }

  }
  
  .form-field{
    width: 47%;
    position: relative;
  }

  .form-field__textarea{
    width: 100%;
    position: relative;
  }

  .form-field label{
    opacity: 0.7;
    position: absolute;
    top: 7px;
    left: 5px;
    color: white;
    cursor: text;
    transition: 0.2s ease-out;
  }

  .form-field__textarea label{
    opacity: 0.7;
    position: absolute;
    top: 7px;
    left: 5px;
    color: white;
    cursor: text;
    transition: 0.2s ease-out;
  }

  .form-field label.active, .form-field__textarea label.active{
    font-size: 13px;
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    -ms-transform: translateY(-130%);
    -o-transform: translateY(-130%);
    transform: translateY(-130%); 
}

  &__input{
    width: 100%;
    margin-bottom: 27px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #7C96A5;
    color: white;
    background-color: transparent;
    outline-color: #fd8d00;
  } 

  &__textarea {
    width: 100%;
    height: 57px;
    border: none;
    border-bottom: 1px solid #7C96A5;
    outline-color: #fd8d00;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    resize: none;
  }
  
  &__btn {
    background-color: #fd8d00;
    font-size: 20px;
    font-weight: bold;
    width: 47%;
    height: 57px;
    border-radius: 15px;
    margin-top: 34px;
    margin-bottom: 49px;
    transition: 0.3s ease;

    &:hover, &:focus {
      color: #fff;
      background-color: #FD9F00;

    }
  }
}


.modal-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1000;
}

/*---------------------HEADER---------------------*/

#header {
  height: 110px;
}

.header {
  padding-top: 5px;
  width: 100%;
  min-height: 100px;
  background-color: #eef2f5;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  border-bottom: 1px solid #CEA5FF;

  &_fix {
    position: fixed;
    top: -125px;
  }


  &__logo {
    width: 80px;
  }

  &__mobile {
    display: none;
  }

  &__btn {
    border: none;
    width: 180px;
    height: 42px;
    border-radius: 10px;
    background-color: #023b65;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    transition: 0.3s background-color ease;

    &:hover, &:focus {
      color: #fff;
      background-color: #02517E;
      outline: 0;

    }
  }

  &__left {

  }

  &__right {

  }

}

.mobile {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  &__item {

  }

  &__burger {
    font-size: 46px;
  }
}

.nav {

  width: 100%;
  float: right;
  margin-top: 27px;

  &__list {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  &__item {
    width: auto;
    list-style: none;
    padding: 0 5px;
    font-size: 14px;
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    transition: 0.3s color ease;

    &:hover, &:focus {
      color: #404040;
    }
  }

}

.pushy {

  ul {
    list-style: none;
    padding-left: 15px;
  }
}

.callback_menu {
  border: none;
  width: 180px;
  height: 42px;
  border-radius: 10px;
  background-color: #023b65;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  transition: 0.3s background-color ease;
}

.openForm {
  top: 0;
  transform: translate(0, 100%);
  transition: transform 1000ms ease;
}

.modalWindow {
  height: 270px;
  background-color: #fff0;
  position: fixed;
  top: -270px;
  z-index: 9999;

  .surfacing {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../img/slice-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

    .modalContent {
      width: 66%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imgContainer {
        width: 35%;
        display: flex;
        justify-content: center;

        img {
          max-width: 15%;
        }
      }

      .line {
        width: 55%;
        height: 2px;
        background-color: #ffffff;
        margin: 12% 0 6% 0;
      }

      p {
        text-shadow: 0 4px 4px rgba(1, 1, 1, 0.12);
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 19px;
        margin: 0;
      }
    }

    .formContainer {
      width: 33%;
      height: 100%;
      position: relative;

      #form {
        width: 90%;
        height: 100%;
        position: absolute;
        right: 5%;
        display: flex;
        flex-direction: column;

        &__name, &__phone, &__email, &__text {
          width: 80%;
          height: 14%;
          background-color: #d6d6d6;
          color: #000000;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 100;
          line-height: 65.48px;
          padding-left: 7%;
          margin-bottom: 2%;
          border: none;
          border-radius: 6px;

        }

        &__name {
          margin-top: 5%;
        }
        &__phone {
        }
        &__email {
        }
        &__text {
          line-height: 25px;
        }

        &__button {
          width: 80%;
          height: 11%;
          background-color: #0054a6;
          color: #ffffff;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: 100;
          line-height: 0;
          border: none;
          border-radius: 6px;
        }

      }
    }
  }

}

/*---------------------MAIN---------------------*/

.main {

  //max-width: 1200px;
  background-color: #eef2f5;
  min-height:600px;
  max-width: 1200px;
  margin: auto;
  background-image: url(../img/main-img.png);
  background-repeat: no-repeat;
  background-position: 99% 65%;
  background-size: 78%;

  &__phrase {

    font-size: 20px;
    line-height: 1.4;
    max-width: 370px;
    font-weight: 700;
  }


  &__head-list {
    padding-top: 114px;
    width: 100%;
    text-transform: uppercase;

    position: relative;
  }

  &__item {
    font-family: "Open Sans", sans-serif;

    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 80px;
    font-weight: 700;
    color: #000;
  }

}

.language {
  background-color: #2ba4bd;
  border-radius: 10px;
  width: 72px;
  height: 42px;
  display: flex;

  &__item {
    font-size: 14px;
    width: 36px;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;

    &:hover {
      color: #fff;
    }

    &_active {
      background-color: #023b65;
    }
  }

}

/*---------------------WEB---------------------*/

.web {
  width: 100%;
  max-height: 807px;
  padding-top: 100px;
  margin: auto;
  background-color: #2fc1df;
  position: relative;

  &__btn {

    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 320px;

    border-radius: 50px;
    color: #000;
    padding: 20px 34px;
    font-size: 16px;
    background-color: #fd8d00;
    border: none;
    outline: none;
    transition: 0.3s background-color ease;

    text-align: center;

    &:hover, &:focus {

      background-color: #FF9F06;
    }
  }
  &__title {

    margin-top: 0;
    color: #000000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 700;
  }

  &__slider {

    position: relative;
  }

  &__monitor {
    width: 100%;
    position: relative;
    z-index: 10
  }

  &__monitor-screen {

    position: absolute;
    top: 6%;
    left: 4%;
    width: 91%;
    height: 71%;
    z-index: 11;
  }

  &__phone {

    width: 27%;
    position: absolute;
    bottom: 0;
    left: -12%;
    z-index: 12
  }

  &__phone-screen {

    width: 24%;
    height: 55%;
    position: absolute;
    bottom: 7%;
    left: -11%;
    z-index: 13;
  }

  &__cup {

    width: 37%;
    position: absolute;
    bottom: 0;
    right: -23%;
    z-index: 12
  }

}

/*---------------------ACCORDION---------------------*/
.cost {
  width: 100%;
  height: 807px;
  padding-top: 100px;
  margin: auto;
  background-color: #2fc1df;
  position: relative;

  &__btn {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

    border-radius: 50px;
    text-align: left;
    color: #000;
    padding: 20px 34px;
    font-size: 16px;
    background-color: #fd8d00;
    border: none;
    outline: none;
    transition: 0.3s background-color ease;

    &:hover, &:focus {
      color: #000;
      background-color: #FF9F06;
      text-decoration: none;
    }
  }

  h1 {
    color: #000000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .accordion {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 1.5rem;
    margin-top: 40px;
    padding: 0;
    list-style: none;
    display: inline-block;

    .collapse-active {
      color: #000;
      background-color: #ffb74d;
    }
    .panel {
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
    &__text {
      background-color: #ffb74d;
      font-size: 16px;
    }

    &__label {
      width: 100%;
      font-size: 30px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-bottom: 0;
      color: #000;
      border-radius: 0;
      border: none;

      a {

        display: block;
        padding: 20px;
        color: #000;

        &:hover, &:focus {
          text-decoration: none;
          background-color: #ffb74d;
        }
      }
    }

    // Тумблер
    &__trigger {
      display: block;
      background-color: rgba(0, 0, 0, 0);
      color: #ddd;
      font-weight: normal;
      cursor: pointer;
      padding: 1.2em;

      font-size: 21px;
      text-transform: uppercase;

      &__open {
        padding: 20px;
        background-color: #ffb74d;
        font-size: 30px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0px;
        margin-bottom: 0;
      }
    }

    &__item {
      margin-bottom: 10px;
    }

    &__toggle {
      position: absolute;
      display: none;
    }

    &__target {
      bottom: 0;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      overflow: hidden;
      background-color: #ffb74d;
      color: #000000;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;

      &__open {
        position: static;
        overflow: visible;
        clip: auto;
        margin: auto;
        padding: 1.2rem;
        width: auto;
        height: auto;
      }
    }
  }

  .slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slider.closed {
    max-height: 0;
  }

  .findCost {
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .container {

      width: 90%;
      margin: auto;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
      }

      .monitor {
        z-index: 1;
        left: 12%;
      }

      .iphone {
        left: 0;
        z-index: 1;
      }

      .iPhone__screen {
        z-index: 4;
        left: 1.1%;
        bottom: 8.4%;
      }

      .cup {
        position: absolute;
        right: 0;
        z-index: 3;
      }

    }

    button {
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 19px;
      font-weight: 300;
      line-height: 28px;
      width: 267px;
      height: 60px;
      border: none;
      border-radius: 30px;
      background-color: #fd8d00;
    }
    a {

    }
  }

  .findCost-container {
    position: relative;

    .monitor {

      &__screen {
        position: absolute;
        top: 6%;
        left: 4%;
        width: 91%;
        height: 71%;
      }
    }

    .iphone {
      position: absolute;
      bottom: 0;
      left: -12%;
    }

    .iPhone__screen {
      width: 24%;
      height: 54%;
      position: absolute;
      bottom: 8%;
      left: -10%;
    }

    .cup {
      position: absolute;
      bottom: 0;
      right: -28%;
    }
  }
}

.accordion {

  padding-left: 0;
  list-style: none;

  &__panel {

    border: 0;
    position: relative;
  }

  &__label {

    display: block;
    padding: 10px 10px;
    width: 100%;

    text-decoration: none;
    background-color: #2FC1DF;
    color: #000;
    font-weight: 700;

    font-size: 22px;

    &:hover, &:focus{
      background-color: #FD8D00;
      text-decoration: none;
      color: #000;
    }
  }

  &__text {
    font-size: 16px;
    background-color: #FD8D00;

  }

  &__line {
    position: absolute;
    width: 2px;
    height: 85%;
    background-color: #000;
    left: -10px;
    top: 26px;
  }

  &__num {
    position: absolute;
    display: block;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    left: -28px;
    top: 16px;
    z-index: 1;

    .point{
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: Black;
      top: 2px;
      right: 2px;
      z-index: 2;

    }

  }
}

/*---------------------MEDIA PRODUCTION---------------------*/

.media-prod {
  background-color: #4e6c6c;

  &__bg {
    width: 100%;
    z-index: 1;
  }

  &__title {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 0;
    font-size: 80px;
    color: #fff;

  }

  &__text {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin: auto;
    margin-bottom: 20px;
    width: 95%;
  }

  &__link {
    min-width: 305px;
    max-width: 305px;
    padding: 13px 35px;
    display: block;
    border: 1px solid #000;
    background: #228397;
    float: left;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s ease background-color;

    &:hover, &:focus {
      text-decoration: none;
      color: #fff;
      background-color: #2293A7;
    }

    &_right {
      float: right;
    }
  }

  &__btn {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 50px;
    text-align: center;
    color: #000;
    padding: 20px 34px;
    font-size: 16px;
    background-color: #fd8d00;
    border: none;
    outline: none;
    transition: 0.3s background-color ease;

    &:hover, &:focus {

      background-color: #FF9F06;
    }
  }
}

/*---------------------Footer---------------------*/

.footer {
  width: 100%;
  background-color: #fd8d00;
  position: relative;
  padding-top: 65px;

  &__map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
  }

  &__bottom {
    padding-bottom: 20px;
  }
}

.contacts {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  &__title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
  }

  &__link {
    color: #000;
    transition: 0.3s color ease;

    &:hover, &:focus {
      text-decoration: none;
      color: #fff;
    }
  }
}

.copyright {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.social {
  text-align: center;

  &__item {
    margin-left: 20px;
    color: #000;
    font-size: 18px;
    transition: 0.3s color ease;

    &:hover {
      color: #fff;
    }
  }
}

#slider{
  max-width: 100%;

  display: flex;
  flex-direction: column;
  
  .sliderTitle{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .sliderWrap{
    display: flex;
    height: 500px;
    padding: 30px;

    .slideShadowWrap{
      display: flex;
      box-shadow: -2px 2px 10px rgba(0,0,0,0.5);
    }

    .view{
      height: 100%;
      flex-basis: 600px;
      flex-grow: 4;

      .slideView{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url(../img/slideView/01.jpg);
        background-position: center top;
        border: 1px solid black;

        a{
        display: block;
        width: 80%;
        height: 100%;
        }

      }

      .viewControl{
        opacity: 0.2;
        height: 100%;
        width: 10%;
        background-color: #B4CAFF;
        background-repeat: none;
        transition: 0.2s ease-out;

        &:hover{
          opacity: 0.4;
        }

      }

      .viewControlLeft{
        float: left;
      }

      .viewControlRight{
        float: right;
      }


    }
    
    .controlMenuWrap{
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-basis: 140px;
      flex-grow: 2;
      overflow: hidden;
      border: 1px solid black;
    }
    
    .menuBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }

    .controlMenu{
      width: calc(100% + 20px);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      overflow-y: scroll;

      .menuIcon{
        opacity: 0.2;
        width: 48%;
        margin: 5px 0;
        transition: 0.3s ease-out;

        img{
          width: 100%;
          height: 100%;
        }

      }

      .activeSlide{
        opacity: 1 !important;
      }

    }

  }

}
