
body {
  width: 100%;
  background-color: #eef2f5;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

h2{
    text-transform: uppercase;

    font-size: 48px;
    font-weight: 700;
}

.btn {
  border: none;

  &:focus, &:active {
    outline: 0 !important;
  }
}

/*---------------------MODAL---------------------*/
.modal-form {
  
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  z-index: 2000;

  background-color: #003967;
  color: #000;

  &__contentWrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__exit {

    display: block;
    position: absolute;
    top: 5px;
    right: 18px;
    font-size: 40px;
    transition: 0.3s color ease;

    &:hover, &:focus{
      color: #4440FD;
    }
   
  }
}

.decision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;

  &__img {

  }

  &__list {

  }

  &__item {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__line {
    margin: auto;
    margin-bottom: 14px;
    margin-top: 10px;
    border: 0.5px solid #fff;
    width: 58%;
  }
}

.contact-form {
  
  display: flex;
  flex-direction: column;
  
  .form-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:first-child{
      margin-bottom: 40px;
    }

  }
  
  .form-field{
    width: 47%;
    position: relative;
  }

  .form-field__textarea{
    width: 100%;
    position: relative;
  }

  .form-field label{
    opacity: 0.7;
    position: absolute;
    top: 7px;
    left: 5px;
    color: white;
    cursor: text;
    transition: 0.2s ease-out;
  }

  .form-field__textarea label{
    opacity: 0.7;
    position: absolute;
    top: 7px;
    left: 5px;
    color: white;
    cursor: text;
    transition: 0.2s ease-out;
  }

  .form-field label.active, .form-field__textarea label.active{
    font-size: 13px;
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    -ms-transform: translateY(-130%);
    -o-transform: translateY(-130%);
    transform: translateY(-130%); 
}

  &__input{
    width: 100%;
    margin-bottom: 27px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #7C96A5;
    background-color: transparent;
    color: white;

    &:focus{
      outline: none;
    }
  } 

  &__textarea {
    width: 100%;
    height: 57px;
    border: none;
    border-bottom: 1px solid #7C96A5;
    margin-bottom: 10px;
    background-color: transparent;
    resize: none;
    color: white;

    &:focus{
      outline: none;
    }
  }
  
  &__btn {
    background-color: #fd8d00;
    font-size: 20px;
    font-weight: bold;
    width: 47%;
    height: 57px;
    border-radius: 15px;
    margin-top: 34px;
    margin-bottom: 49px;
    transition: 0.3s ease;

    &:hover, &:focus {
      color: #fff;
      background-color: #FD9F00;

    }
  }
}

.second-menu {
    position: fixed;
    top: -3000px;
    z-index: 100;

    width: 100%;
    height: 100px;

    background-color: #EEF2F5;

    transition: all 0.5s ease-out;


    .nav__item-fix {

      list-style: none;
      padding: 0 5px;
      font-size: 14px;

    }
}

/*---------------------HEADER---------------------*/

.for-overflow{
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

#header {
  height: 160px;
}

.header {
  display: flex;
  justify-content: space-around;

  position: relative;

  width: 100%;
  padding-top: 5px;

  background-color: #EEF2F5;

  &__logo {
    width: 150px;
  }


  &__btn {
    border: none;
    width: 180px;
    height: 42px;
    border-radius: 10px;
    background-color: #023b65;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    transition: 0.3s background-color ease;

    &:hover, &:focus {
      color: #fff;
      background-color: #02517E;
      outline: 0;

    }
  }

}

.nav {

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100px;
  margin: 0;
  
  &__item {

    list-style: none;
    font-size: 14px;

  }
  
  &__link {

    text-decoration: none;
    color: #000;
    font-weight: 300;
    transition: 0.3s color ease;
  
    &:hover, &:focus {
      color: #404040;
    }
  }
}

.nav_mobile{
  display: none;
  margin-top: 20px;

  width: 40px;
  height: 25px;
}
.nav-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;
}
.nav-btn .nav-line{
  display: block;
  height: 5px;

  border-radius: 2px;
  border-right-color: black;
  background-color: black;

  transition: all 0.5s ease-out;
}
.nav-btn:hover{
  cursor: pointer;
}
.nav-btn-active .nav-line{
  background-color: black;
}
.nav-btn-active .nav-line{

}
.nav-btn-active .nav-line:nth-child(2){
  display: none;
}
.nav-btn-active .nav-line:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}
.nav-btn-active .nav-line:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}





.nav_mobile-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  position: absolute;
  z-index: 1;
  right: -1000px;
  top: 0;

  width: 265px;
  height: 245px;

  background-color: #E8E8E8;

  transition: all 0.5s ease-out;
}


.nav_mobile-active{
  right: 0 !important;
}

.nav_mobile__content .nav__item{
  margin-bottom: 20px;
}

.nav__content-line{
  position: relative;
  left: -100%;
  width: 300%;
  height: 1px;
  border: 0.5px solid black;
}

.nav__item-btn{
  margin-top: 60px;
}

.nav__link-lang{
  margin-right: 40px;
}

.language {
  background-color: #2ba4bd;
  border-radius: 10px;
  width: 72px;
  height: 42px;
  display: flex;

  &__item {
    font-size: 14px;
    width: 36px;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;

    &:hover {
      color: #fff;
    }

    &_active {
      background-color: #023b65;
    }
  }

}

/*---------------------MAIN---------------------*/

.main {
  display: inline-block;

  position: relative;

  max-width: 1200px;
  margin: auto;

  &__phrase {

    font-size: 20px;
    line-height: 1.4;
    max-width: 370px;
    font-weight: 700;

    color: #00b2b1;
  }


  &__head-list {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-bottom: 70px;

    text-transform: uppercase;
  }

  &__item {
    font-family: "Open Sans", sans-serif;

    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 60px;
    font-weight: 700;
    color: #347B8A;
  }

  &__img-slide{
    position: relative;
    overflow: hidden;
    width: 100%;

    height: 600px;
    & img{
      position: absolute;
      right: -200%;
      transition: all 2s ease-out;

      &:nth-child(1){
        width: 35%;
      }
      &:nth-child(2){
        width: 35%;
        top: 60px;
      }
      &:nth-child(3){
        width: 26%;
      }
      &:nth-child(4){
        width: 24%;
      }

    }

  }

}

.inside:nth-child(1){
  right: 0% !important;
}
.inside:nth-child(2){
  right: 22% !important;
}
.inside:nth-child(3){
  right: 45% !important;
}
.inside:nth-child(4){
  right: 60% !important;
}

section{
  width: 100%;
}

.inner{
  max-width: 90%;
}

/*---------------------WEB---------------------*/

.web {
  background-color: #2fc1df;

  &_inner{
    display: flex;
    justify-content: space-between;

    margin: auto;
  }

  &__control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 30%;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;

    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
  }

  &__list{
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item{
    padding: 10px;
    margin-bottom: 30px;

    border-radius: 3px;

    transition: all 0.3s ease-out;

    &:hover{
      cursor: pointer;
    }

    h3{
      margin: 0;
      margin-bottom: 10px;

      font-size: 22px;
      font-weight: bold;
    }

    p{
      display: none;
    }
  }



  &__view{
    width: 70%;
    height: 650px;
    padding: 20px;
  }

  &__content{
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    img{
      position: absolute;
      top: 300px;
      opacity: 0;

      width: 100%;

      transition: all 1s ease-out;
    }
  }
}

.active-list-item{
  background-color: #FF8E00;

  margin-bottom: 20px;
}

.active-img-web{
  top: 0 !important;
  opacity: 1 !important;
}

/*-------------------------Portfolio------------------------*/

.port{

  background-color: #EDF2F5;

  &_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
  }

  &__title{
    margin: 30px 0 30px;

    text-align: center;
  }

  &__controls{
    align-self: flex-end;
    margin-bottom: 10px;

    &:hover{
      cursor: pointer;
    }
  }

  &__sites_wrap{
    overflow: hidden;
  }

  &__sites_wrap-scroll{
    display: flex;
    position: relative;
    left: 0;

    transition: all 0.7s ease-out;
  }

  &__site{
    margin-right: 20px;
  }

  &__img{
    width: 100%;
  }

  &__name{
    margin-bottom: 50px;

    text-transform: uppercase;
    font-weight: bold;
  }
}

/*---------------------MEDIA PRODUCTION---------------------*/

.md-pd {
  
  background-image: url("../img/md-pd-bgi.png");
  background-repeat: no-repeat;
  background-position: top center;

  &_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    margin: 50px 0 40px;

    color: white;
  }

  &__description{
    font-size: 30px;
    color: white;
    text-align: center;
  }

  &__start{
    margin: 30px 0;
  }

  &__btn{
    width: 290px;
    height: 60px;

    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: #FF8E00;
    border: none;
    border-radius: 30px;

    transition: all 0.5s ease-out;

    &:hover{
      background-color: #FFB245;
    }
  }



  &__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slides-wrap{
    width: 100%;
    margin: 40px 0;

    overflow: hidden;
  }

  &__slides-wrap-scroll{
    display: flex;

    position: relative;
    left: 0;

    transition: all 0.7s ease-out;
  }

  &__control-left{
    margin-right: 20px;
  }

  &__control-right{
    margin-left: 5px;
  }


  &__control:hover{
    cursor: pointer;
  }

  &__video{
    display: block;
    height: 150px;

    border: 1px solid red;
    margin-right: 15px;

    &:focus{
      outline: none;
    }
  }
}

.mark{

  background-image: url("../img/mark-bgi.png");
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    margin: 80px 0 30px;
  }

  &__description{
    font-size: 30px;
    text-align: center;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    width: 55%;

    margin: 70px 0;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 180px
  }

  &__img{
    width: 100%;
    margin-bottom: 10px;
  }

}

/*---------------------Footer---------------------*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fd8d00;

  &__map {
    width: 100%;
    height: 400px;
  }

}

.contacts {
  width: 80%;
  margin: 25px auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
  }

  &__link {
    display: block;
    color: #000;
    transition: 0.3s color ease;

    &:hover, &:focus {
      text-decoration: none;
      color: #fff;
    }
  }
}

.copyright {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.social {
  text-align: center;

  &__item {
    margin-left: 20px;
    color: #000;
    font-size: 18px;
    transition: 0.3s color ease;

    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 992px) {

  h1 br{
    display: block;
  }

  h2{
    font-size: 32px;
  }

  br{
    display: none;
  }

  .modal-form__contentWrap{
    width: 80%;
  }

  .form-block{
    flex-direction: column;
  }

  .contact-form__btn{
    width: 100%;
  }

  .second-menu{
    display: none;
  }

  .header{
    justify-content: space-between;
    padding: 0 20px;
  }

  .header__logo{
    width: 125px;
  }

  .nav{
    display: none;
  }

  .nav_mobile{
    display: block;
  }

  .main__img-slide{
    display: none;
  }

  .main__head-list{
    position: static;
    text-align: center;

    margin-bottom: 40px;
  }

  .main__item{
    font-size: 40px;
  }

  .main__phrase{
    max-width: 100%;
    font-size: 18px;
  }

  .mark__content{
    width: 75%;
  }

  .port__controls{
    width: 35%;
    align-self: center;
  }

  .port__controls img{
    width: 50px;
  }

  .md-pd__description{
    font-size: 20px;
  }

  .mark__description{
    font-size: 18px;
  }

  .contacts{
    display: block;
  }

}

@media (max-width: 576px) {

  .contacts {

    &__title {
      font-size: 14px;
    }
    &__text {

      font-size: 12px;
    }

    &__link {

      font-size: 12px;
    }

  }


}
