body {
  width: 100%;
  background-color: #eef2f5;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.btn {
  border: none;
}
.btn:focus, .btn:active {
  outline: 0 !important;
}

/*---------------------MODAL---------------------*/
.modal-form {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  z-index: 2000;
  background-color: #003967;
  color: #000;
}
.modal-form__contentWrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-form__exit {
  display: block;
  position: absolute;
  top: 5px;
  right: 18px;
  font-size: 40px;
  transition: 0.3s color ease;
}
.modal-form__exit:hover, .modal-form__exit:focus {
  color: #4440FD;
}

.decision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.decision__item {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}
.decision__line {
  margin: auto;
  margin-bottom: 14px;
  margin-top: 10px;
  border: 0.5px solid #fff;
  width: 58%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form .form-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form .form-block:first-child {
  margin-bottom: 40px;
}
.contact-form .form-field {
  width: 47%;
  position: relative;
}
.contact-form .form-field__textarea {
  width: 100%;
  position: relative;
}
.contact-form .form-field label {
  opacity: 0.7;
  position: absolute;
  top: 7px;
  left: 5px;
  color: white;
  cursor: text;
  transition: 0.2s ease-out;
}
.contact-form .form-field__textarea label {
  opacity: 0.7;
  position: absolute;
  top: 7px;
  left: 5px;
  color: white;
  cursor: text;
  transition: 0.2s ease-out;
}
.contact-form .form-field label.active, .contact-form .form-field__textarea label.active {
  font-size: 13px;
  -webkit-transform: translateY(-130%);
  -moz-transform: translateY(-130%);
  -ms-transform: translateY(-130%);
  -o-transform: translateY(-130%);
  transform: translateY(-130%);
}
.contact-form__input {
  width: 100%;
  margin-bottom: 27px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #7C96A5;
  color: white;
  background-color: transparent;
  outline-color: #fd8d00;
}
.contact-form__textarea {
  width: 100%;
  height: 57px;
  border: none;
  border-bottom: 1px solid #7C96A5;
  outline-color: #fd8d00;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  resize: none;
}
.contact-form__btn {
  background-color: #fd8d00;
  font-size: 20px;
  font-weight: bold;
  width: 47%;
  height: 57px;
  border-radius: 15px;
  margin-top: 34px;
  margin-bottom: 49px;
  transition: 0.3s ease;
}
.contact-form__btn:hover, .contact-form__btn:focus {
  color: #fff;
  background-color: #FD9F00;
}

.second-menu {
  display: none;
  position: fixed;
  top: -3000px;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #EEF2F5;
  transition: all 0.5s ease-out;
}

/*---------------------HEADER---------------------*/
#header {
  height: 160px;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 5px;
  background-color: #EEF2F5;
}
.header__logo {
  width: 150px;
}
.header__mobile {
  display: none;
}
.header__btn {
  border: none;
  width: 180px;
  height: 42px;
  border-radius: 10px;
  background-color: #023b65;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  transition: 0.3s background-color ease;
}
.header__btn:hover, .header__btn:focus {
  color: #fff;
  background-color: #02517E;
  outline: 0;
}

.mobile {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.mobile__burger {
  font-size: 46px;
}

.nav {
  width: 100%;
  float: right;
  margin-top: 27px;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.nav__item {
  width: auto;
  list-style: none;
  padding: 0 5px;
  font-size: 14px;
  margin-right: 10px;
}
.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  transition: 0.3s color ease;
}
.nav__link:hover, .nav__link:focus {
  color: #404040;
}

.language {
  background-color: #2ba4bd;
  border-radius: 10px;
  width: 72px;
  height: 42px;
  display: flex;
}
.language__item {
  font-size: 14px;
  width: 36px;
  border-radius: 10px;
  text-align: center;
  padding-top: 9px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.language__item:hover {
  color: #fff;
}
.language__item_active {
  background-color: #023b65;
}

/*---------------------MAIN---------------------*/
.main {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.main__phrase {
  font-size: 20px;
  line-height: 1.4;
  max-width: 370px;
  font-weight: 700;
  color: #00b2b1;
}
.main__head-list {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main__item {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  color: #347B8A;
}
.main__img-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.main__img-slide img {
  position: absolute;
  right: -200%;
  transition: all 2s ease-out;
}
.main__img-slide img:nth-child(1) {
  width: 35%;
}
.main__img-slide img:nth-child(2) {
  width: 35%;
  top: 60px;
}
.main__img-slide img:nth-child(3) {
  width: 26%;
}
.main__img-slide img:nth-child(4) {
  width: 24%;
}

.inside:nth-child(1) {
  right: 0% !important;
}

.inside:nth-child(2) {
  right: 22% !important;
}

.inside:nth-child(3) {
  right: 45% !important;
}

.inside:nth-child(4) {
  right: 60% !important;
}

/*---------------------WEB---------------------*/
.web {
  background-color: #2fc1df;
}
.web_inner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.web__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 4;
}
.web__title {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
}
.web__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.web__item {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}
.web__item h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.web__item p {
  display: none;
}
.web__view {
  flex-grow: 9;
  height: 650px;
  padding: 20px;
}
.web__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.web__content img {
  position: absolute;
  bottom: -500px;
  opacity: 0;
  transition: all 1s ease-out;
}

.active-list-item {
  background-color: #FF8E00;
  margin-bottom: 20px;
}

.active-img-web {
  bottom: -145px !important;
  opacity: 1 !important;
}

/*-------------------------Portfolio------------------------*/
.port {
  background-color: #EDF2F5;
}
.port_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}
.port__title {
  margin: 100px 0 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
}
.port__controls {
  align-self: flex-end;
  margin-bottom: 10px;
}
.port__sites_wrap {
  overflow: hidden;
}
.port__sites_wrap-scroll {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.7s ease-out;
}
.port__site {
  margin-right: 20px;
}
.port__img {
  width: 100%;
}
.port__name {
  text-transform: uppercase;
  font-weight: bold;
}

/*---------------------MEDIA PRODUCTION---------------------*/
/*---------------------Footer---------------------*/
.footer {
  width: 100%;
  background-color: #fd8d00;
  position: relative;
  padding-top: 65px;
}
.footer__map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
.footer__bottom {
  padding-bottom: 20px;
}

.contacts {
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.contacts__title {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.contacts__text {
  font-size: 14px;
}
.contacts__link {
  color: #000;
  transition: 0.3s color ease;
}
.contacts__link:hover, .contacts__link:focus {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.social {
  text-align: center;
}
.social__item {
  margin-left: 20px;
  color: #000;
  font-size: 18px;
  transition: 0.3s color ease;
}
.social__item:hover {
  color: #fff;
}

/*# sourceMappingURL=theme.css.map */
